.alt-header {
   display: flex;
   padding: 5px 3px;
   justify-content: space-between;
   display: flex;

   align-items: center;
   padding: var(--horizontal-space);
   margin-bottom: 15px;
   margin-top: 10px;
}
.alt-header__column {
   width: 33%;
}

.alt-header__column > h1 {
   font-size: 22px;
   font-weight: 600;
}

.alt-header__column:nth-child(2) {
   display: flex;
   justify-content: center;
}
.alt-header__column:last-child {
   display: flex;
   justify-content: flex-end;
}

.alt-header__column:last-child span {
   margin: 0 7px;
}
